#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  display: flex;
  justify-content: center;
  background-color: rgb(9, 9, 80);
}

#loading-screen img {
  object-fit: contain;
  box-shadow: 0 0 300px rgb(0, 0, 0);
}

#progress-bar {
  position: absolute;
  height: 1vh;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: blue;
}

.hidden-ls {
  opacity: 0;
  transition: opacity 0.5s linear;
  pointer-events: none;
}

.visible-ls {
  opacity: 1;
  transition: opacity 0.5s linear;
}