#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgb(9, 9, 80) 0%, #000 50%, rgb(9, 9, 80) 100%) rgb(5, 5, 65);
}

#loading-screen img {
  object-fit: contain;
}

#progress-bar {
  position: absolute;
  height: 1vh;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: blue;
}

.hidden-ls {
  opacity: 0;
  transition: opacity 0.5s linear;
  pointer-events: none;
}

.visible-ls {
  opacity: 1;
  transition: opacity 0.5s linear;
}