.scene-container {
  position: relative;
  background-size: contain;
}

.scene-door {
  height: 10vh;
  width: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.scene-door:hover {
  cursor: pointer;
}